.forgot_page {
  display: flex;
  flex-direction: column;
  align-items: center; /* Canh giữa nội dung theo chiều ngang */
  justify-content: center; /* Canh giữa nội dung theo chiều dọc */
  min-height: 100vh; /* Chiều cao toàn màn hình */

  &__logo {
    margin-bottom: 20px;

    img {
      max-width: 300px;
      height: auto;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
    padding: 30px;

    div {
      text-align: center;
      margin-bottom: 20px;
      font-size: 16px;
      color: #595959;
    }

    &_group {
      width: 100%;
      // margin-bottom: 30px;

      .ant-input-password {
        width: 100%;
        border-radius: 4px;
      }
    }

    &__actions {
      width: 100%;
      display: flex;
      flex-direction: column;

      .ant-btn {
        width: 100%;
        font-size: 16px;
        padding: 10px 0;
        border-radius: 4px;
      }
    }
  }
}
